.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(var(--ion-color-light-shade));
    padding-bottom: 15px;
    ion-avatar {
        width: 150px;
        height: 150px;
        img {}
    }
    ion-chip {
        &.name {
            font-size: larger;
            font-weight: 800;
        }
    }
}