ion-img.home-logo {
    margin: 2vh auto;
    height: 18vh;
}

app-home {
    background: #f7f7fb;
}

ion-img.header-logo {
    height: 40px;
    margin: 3px auto;
}

ion-item.home-tracking {
    margin: 10px 20px;
    --border-radius: 25px;
    --box-shadow: 0 5px 10px rgba(204, 132, 21, 0.59);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(204, 132, 21, 0.59);
    --highlight-color-focused: transparent;
    margin-bottom: 35px;
    ion-input {
        --placeholder-color: var(--ion-color-medium);
        --placeholder-font-weight: 400;
        font-size: 15px;
        --placeholder-opacity: 0.8;
    }
    ion-icon.search {
        font-size: 14px;
        color: #cecece;
        margin: 0 15px;
    }
}

ion-segment.home-segment {
    width: calc(100vw / 1.5);
    ion-segment-button {
        color: var(--ion-color-light);
        opacity: 0.75;
        margin: 0 15px;
    }
    ion-segment-button.segment-button-checked {
        opacity: 1;
    }
}

ion-fab {
    // bottom: 30px;
    ion-fab-button {
        font-size: 18px;
        border: 5px solid #f7f7fb;
        border-radius: 100%;
        --background: #f19f21;
        --box-shadow: 0 3px 10px rgba(241, 159, 34, 0.6);
    }
    &.home-fab {
        left: calc(23px + var(--ion-safe-area-left, 0px));
        right: auto;
    }
}

ion-content {
    --padding-top: 20px;
    ion-card.white-card {
        margin-bottom: 20px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        ion-card-title {
            font-size: 16px;
            font-weight: 400;
        }
        ion-card-subtitle {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 10px;
            margin: 0;
            color: var(--ion-color-medium-contrast);
            border-radius: 0 0 0 10px;
            font-size: 13px;
            font-weight: 700;
            background: var(--ion-color-primary);
            &.in-transit {
                background: #f19f21;
                color: #fff;
            }
            &.Pending {
                background: #f19f21;
                color: #fff;
            }
            &.proccessing {
                background: #2189f1;
                color: #fff;
            }
            &.on-hold {
                background: rgba(225, 42, 42, 0.75);
                color: #fff;
            }
        }
        .shipment-data {
            border-bottom: 1px solid #EBEBF1;
            padding: 10px 0;
            padding-inline-start: 5px;
            padding-inline-end: 5px;
        }
        ion-card-content {
            .delivery-data {
                ion-button.ship-navigate {
                    --color: var(--ion-color-primary);
                    --padding-start: 0;
                    --padding-end: 0;
                    height: 100%;
                    margin: 0;
                    width: 40px;
                    ion-icon {
                        color: var(--ion-color-primary);
                        width: 100%;
                        height: 100%;
                    }
                }
                p {
                    font-size: 12px;
                    line-height: 15px;
                    &.from,
                    &.to {
                        font-weight: 800;
                    }
                }
            }
        }
    }
}